<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.0.0/cerulean/bootstrap.min.css">

<title>Pagina Test 2</title>
</head>
<body>
	<div class="container">
		<div class="row col-12">
			<h2>Lista de Estudiantes</h2>
		</div>
		<div class="row col-12">
			 
			<table class="table table-hover">
				<thead>
					<tr class="table-active">
						<th class="col-1">#</th>
						<th class="col-4">Nombre:</th>
						<th class="col-1">Edad:</th>
						<th class="col-3">Estatus:</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="estudiante : ${listaEstudiantes}"
						class="table-primary">
						<td class="col-1"><a th:text="${estudiante.idEmp}" th:href="@{/delete(id=${estudiante.idEmp})}"></a></td>
						<td th:text="${estudiante.nombre}" class="col-4"></td>
						<td th:text="${estudiante.edad}" class="col-1"></td>
						<td th:text="${estudiante.estatus}" class="col-3"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row col-12">
			<form action="/new">
				<input type="submit" value="Nuevo">
			</form>

		</div>
	</div>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>

</body>
</html>